*{
  margin: 0;
  padding: 0;
  border: 2px solid white;
}

html{
  font-size:16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.Home1{
  width: 100%;
  background-color: Teal;
}

.Home1 h1{
  text-align:center;
  color: Navy;
  padding-top: 0.75rem;
  text-transform: uppercase;
  font-family: 'Georgia', serif;
  font-size-adjust: 5rem;
  font-size: 5rem;	
}

.Home1 ul{
  text-align: center;
  padding-bottom: 0.31rem;
}

.Home1 li{
  display: inline-block;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  margin:0;
  
  text-transform: uppercase;
  font-weight: 100;
  font-family: 'Georgia', serif;
  font-size: 1.25rem;
  text-align:center;
  
  border: 3px solid GhostWhite;
  border-radius: 0.625rem;
  width: 22%;	 
}

.Home1 li:hover{
  background-color: CornFlowerBlue;
  color: GhostWhite;
}


.About1{
  background-image: url("https://ak2.picdn.net/shutterstock/videos/1339435/thumb/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 5rem;
  padding-bottom: 5rem;  

  width: 100%;
  height: 100%;
}

.screen{
  background-color: lightGrey;
  opacity: 0.8;

  position: center;
  padding: 3rem;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.screen h2{
  padding:3%;
  text-align: center;
  font-family: 'Georgia', serif;
  color: dodgerBlue;
  margin-left: 10%;
  position: relative;
  width: 80%;
  margin-right: 10%;
}


#usb{
  overflow: hidden;
  width: 40%;

  position: relative;  
  float: left;
  left: -5rem;
  top: 2rem;
  margin-right: -25rem;
}

#usb img{
  max-width: 100%;
  height: auto;
}


#idea{
  overflow: hidden;
  width: 9%;

  position: relative;  
  float: right;
  opacity: 0;
  right: 9%;  
}

#idea img{
  max-width: 100%;
  height: auto;
}


#laptop{
  overflow: hidden;
  position: relative;
  float: right;
  margin-top: 10%;
  margin-right: -12%;
  width: 30%;  
  vertical-align: super;
}

#laptop img{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.footer{
  background-color: Teal;
  width:100%;
  height: 2rem;
  text-align: center;
  font-size: 1rem;
  padding-top: 0.5rem;
}
